.carousel-items {
    width: 25%; /* Cada slide ocupa 25% */
    transition: .8s;
}
  
.carousel-inner {
    display: flex;
    overflow: hidden;
}

.button-carousel {
    width: 3rem !important;
}

@media screen and (min-width: 768px) {
    .button-carousel {
        width: 5rem !important;
    }
}