.font-sanserif {
    font-family: sans-serif !important;
}
.font-fantasy {
    font-family: fantasy !important;
}
.font-cursive {
    font-family: cursive !important;
}

.playfair-display-main {
  font-family: "Playfair Display", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
