:root{
    --primary: #00B33D !important;
    --secondary: #7700BF !important;
    --tertiary: #FFA800 !important;
    --success: var(--primary) !important;
    --info: var(--secondary) !important;
    --warning: var(--tertiary) !important;
}

.btn-outline-primary{
    border: 1px solid var(--primary) !important;
    color: var(--primary) !important;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:target{
    background-color: var(--primary);
    color: white !important;
}

.btn-outline-secondary{
    border: 1px solid var(--secondary) !important;
    color: var(--secondary) !important;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active{
    background-color: var(--secondary) !important;
    color: white !important;
}

.btn-outline-tertiary{
    border: 1px solid var(--tertiary) !important;
    color: var(--tertiary) !important;
    transition: 1s;
}

.btn-outline-tertiary:hover, .btn-outline-tertiary:active{
    background-color: var(--tertiary) !important;
    color: white !important;
    transition: 1s;
}

.bg-primary, .btn-primary{
    background-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: #009030;
}

.bg-secondary, .btn-secondary{
    background-color: var(--secondary) !important;
}

.btn-secondary:hover {
    background-color: #5b0093;
}

.bg-tertiary, .btn-tertiary{
    background-color: var(--tertiary) !important;
}

.bg-success, .btn-success{
    background-color: var(--success) !important;
}

.bg-info, .btn-info{
    background-color: var(--info) !important;
}

.bg-warning, .btn-warning{
    background-color: var(--warning) !important;
}

.bg-danger .btn-danger{
    background-color: var(--danger) !important;
}

.nav-link, .link-primary, .link {
    color: var(--primary) !important ;
}

.nav-link:hover, .link-primary:hover, .link:hover{
    color: var(--warning) !important ; 
}

/* text colors */

.text-primary{
    color: var(--primary) !important;
}

.text-secondary{
    color: var(--secondary) !important;
}

.text-tertiary{
    color: var(--tertiary) !important;
}

.bi-secondary{
    fill: var(--secondary);
    transition: 1s;
}

.bi-secondary:hover{
    fill: white !important;
    transition: 1s;
}

.jersey-10-charted-regular {
    font-family: "Jersey 10 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.border, .border-primary {
    border: 1px solid var(--primary) !important;
}

.border-secondary {
    border: 1px solid var(--secondary) !important;
}

