:root{
    --primary: #00B33D !important;
    --secondary: #7700BF !important;
    --tertiary: #FFA800 !important;
}

.shadwon-secondary {
    box-shadow: 0px 0px 10px 20px var(--secondary);
}

.shadwon-secondary-inset {
    box-shadow: inset 0px 0px 10px 5px var(--secondary);
}

.shadwon-tertiary-mini {
    box-shadow: 0px 0px 2px 1px var(--tertiary);
}

.shadwon-tertiary-mini-inset {
    box-shadow: inset 0px 0px 2px 1px var(--tertiary);
}
