.max-height-90 {
    max-height: 90px !important;
}

.max-width-90 {
    max-width: 90px !important;
}

.max-height-30 {
    max-height: 30px !important;
}

.max-width-30 {
    max-width: 30px !important;
}

.max-height-40 {
    max-height: 40px !important;
}

.max-width-40 {
    max-width: 40px !important;
}
